

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

nav ul{
    width : 100%;
    text-align :center;  

        
}

nav li {
    width:25%;
}

header img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 50%;

}

.corps {
   
    border:2px solid black;
}

hr {
   border:0.5px solid grey;
}

footer {
     
  bottom: 0px;
  width:100%;
  

}